---
import type { CollectionEntry } from 'astro:content'
import type { GetStaticPaths } from 'astro'
import MarkdownLayout from '@/layouts/MarkdownLayout.astro'
import { getSortedPosts } from '@/utils/content'
import MarkdownWrapper from '@/components/MarkdownWrapper.astro'
import PostMetaInfo from '@/components/post/PostMetaInfo.astro'
import PostArchiveInfo from '@/components/post/PostArchiveInfo.astro'
import { Outdate } from '@/components/post/Outdate'
import PostNav from '@/components/post/PostNav.astro'
import { Comments } from '@/components/comment'
import { ActionAside } from '@/components/post/ActionAside'
import { PostCopyright } from '@/components/post/PostCopyright'
import SectionBlock from '@/components/SectionBlock.astro'
import { PostToc } from '@/components/post/PostToc'
import { ReadingProgress } from '@/components/post/ReadingProgress'
import TagList from '@/components/TagList.astro'
import CategoryList from '@/components/CategoryList.astro'

import { getHotTags, getCategories } from '@/utils/content'


// 获取热门标签
const hotTags = await getHotTags()
// 获取所有类别
const Categories = await getCategories()

export const getStaticPaths = (async () => {
  const sortedPosts = await getSortedPosts()

  return sortedPosts.map((post, index) => ({
    params: { slug: post.slug },
    props: {
      current: post,
      prev: index > 0 ? sortedPosts[index - 1] : undefined,
      next: index < sortedPosts.length - 1 ? sortedPosts[index + 1] : undefined,
    },
  }))
}) satisfies GetStaticPaths

interface Props {
  current: CollectionEntry<'posts'>
  prev?: CollectionEntry<'posts'>
  next?: CollectionEntry<'posts'>
}

const { current, prev, next } = Astro.props

const { headings, Content, remarkPluginFrontmatter } = await current.render()

const mdSlug = `/posts/${current.slug}`

const mdDescription = concat(current.data.category.join('/') || '', current.data.tags.join(', '))

function concat(str1: string, str2: string, sep = ' / ') {
  if (str1 && str2) return str1 + sep + str2
  if (str1) return str1
  if (str2) return str2
  return ''
}

const lastMod = current.data.lastMod || current.data.date
---

<MarkdownLayout
  title={current.data.title}
  description={current.data.summary}
  image={current.data.cover}
  mdTitle={current.data.title}
  mdDescription={mdDescription}
  mdSlug={mdSlug}
  headings={headings}
>
  <div>
    <!-- 标题部分，展示分类以及标签 -->
    <header class="space-y-4">
      <h1 class="text-4xl font-bold text-center">
        {current.data.title}
      </h1>
      <PostMetaInfo
        class="justify-center"
        date={current.data.date}
        lastMod={current.data.lastMod}
        words={remarkPluginFrontmatter.words}
        readingMinutes={remarkPluginFrontmatter.readingMinutes}
      />
      <PostArchiveInfo
        class="justify-center"
        category={current.data.category}
        tags={current.data.tags}
      />
      <div>
        <Outdate lastMod={lastMod} client:idle />
      </div>
    </header>
    <hr class="my-4 border-primary" />
  </div>
  <!-- 文章内容展示 -->
  <div class="max-w-[804px] mx-auto col-start-1 min-w-0">
    <MarkdownWrapper>
      <Content />
    </MarkdownWrapper>
  </div>
  <!-- 页脚模块 -->
  <div class="mt-8 mb-4">
    <section class="space-y-6">
      <!-- 版权声明 -->
      <PostCopyright title={current.data.title} slug={mdSlug} author={current.data.author}  summary={current.data.summary} lastMod={lastMod} exSlug={current.data.exSlug} client:visible />
      <!-- 相邻文章跳转 -->
      <PostNav prev={prev} next={next} />
      <!-- 评论模块 -->
      {current.data.comments && <Comments />}
    </section>
  </div>
</MarkdownLayout>
