---
import type { GetStaticPaths } from 'astro'
import { getAllTags, getOldestPosts, slugify } from '@/utils/content'
import MainPageLayout from '@/layouts/MainPageLayout.astro'
import Timeline from '@/components/Timeline.astro'
import Highlight from '@/components/Highlight.astro'

export const getStaticPaths = (async () => {
  const allTags = await getAllTags()

  return allTags.map((tag) => {
    return {
      params: {
        tag: tag.slug,
      },
      props: { tag },
    }
  })
}) satisfies GetStaticPaths

interface Props {
  tag: {
    name: string
    slug: string
    count: number
  }
}

const { tag } = Astro.props

const oldestPosts = await getOldestPosts().then((posts) => {
  return posts.filter((post) => post.data.tags.findIndex((t) => slugify(t) === tag.slug) >= 0)
})

const style = "max-w-[1100px] mx-auto px-4 py-20 sm:px-4 md:px-8 lg:grid lg:grid-cols-[auto_300px] lg:gap-8"
---

<MainPageLayout title={`标签 · ${tag.name}`} showTags={false} style={style}>
  <div class="max-w-[800px] mx-auto px-4 py-16">
    <header class="space-y-4 mb-8">
      <h1 class="text-4xl font-bold">
        <Highlight><a href=`/tags`>标签</a></Highlight>：<Highlight><a href=`/tags/${slugify(tag.name)}`>{tag.name}</a></Highlight>
      </h1>
      <p>共有 {tag.count} 篇文章。</p>
    </header>
    <Timeline posts={oldestPosts} />
  </div>
</MainPageLayout>
