---
import Hero from '@/components/hero/Hero.astro'
import PageLayout from '@/layouts/PageLayout.astro'
import SectionBlock from '@/components/SectionBlock.astro'
import TagList from '@/components/TagList.astro'
import CategoryList from '@/components/CategoryList.astro'

import { getSortedPosts, getHotTags, getCategories, getAllTags } from '@/utils/content'


// 获取热门标签
const hotTags = await getHotTags()
// 获取所有标签
const allTags = await getAllTags()
// 获取所有类别
const Categories = await getCategories()

interface Props {
  title?: string
  description?: string
  image?: string
  currentPage?: number
  showCategories?: boolean
  showTags?: boolean
  style?: string
}

const {
  title,
  description,
  image,
  currentPage,
  showCategories = true,
  showTags = true,
  style = "max-w-[1100px] mx-auto px-4 md:px-8 py-20 mx-auto grid lg:grid-cols-[auto_300px] gap-8" 
} = Astro.props
---

<PageLayout title={title} description={description} image={image}>
  <div>
    <!-- 如果页码为 1 就显示 Hero 页 -->
    {currentPage === 1 && <Hero />}
    <div class={style}>
      <slot />
      <!-- 分类和标签展示组件 -->
      <div>
        <aside class="md:sticky md:top-20 space-y-10">
          {showCategories &&
            <SectionBlock title="文章分类">
              <CategoryList categories={Categories} />
              <div class="mt-2 text-right">
                <a class="text-sm text-secondary hover:text-accent" href="/categories">
                  所有分类 <i class="iconfont icon-arrow-right" />
                </a>
              </div>
            </SectionBlock>
            
          }
          {showTags &&
          <SectionBlock title="热门标签">
              <TagList tags={hotTags} />
              {
                // 如果热门标签不包含所有标签，显示 更多标签
                allTags.length > hotTags.length && (
                <div class="mt-2 text-right">
                  <a class="text-sm text-secondary hover:text-accent" href="/tags">
                    更多标签 <i class="iconfont icon-arrow-right" />
                  </a>
              </div>
              )
              }
          </SectionBlock>
          }
        </aside>
      </div>
    </div>
  </div>
</PageLayout>
