---
import Layout from './Layout.astro'
import { HeadGradient } from '@/components/head-gradient'
import Footer from '@/components/footer/Footer.astro'
import { Header } from '@/components/header/Header'
import { SearchPanel } from '@/components/SearchPanel'
import { BackToTopFAB } from '@/components/BackToTopFAB'
import { Provider } from '@/components/provider/Provider'
import { ToastContainer } from '@/components/ToastContainer'
import { ModalStack } from '@/components/ui/modal'
import SectionBlock from '@/components/SectionBlock.astro'
import 'katex/dist/katex.min.css'
import type { MarkdownHeading } from 'astro'
import { ActionAside } from '@/components/post/ActionAside'
import { PostToc } from '@/components/post/PostToc'
import { ReadingProgress } from '@/components/post/ReadingProgress'
import TagList from '@/components/TagList.astro'
import CategoryList from '@/components/CategoryList.astro'

import { getHotTags, getCategories } from '@/utils/content'


// 获取热门标签
const hotTags = await getHotTags()
// 获取所有类别
const Categories = await getCategories()

interface Props {
  title: string
  description?: string
  image?: string
  mdTitle: string
  mdDescription: string
  mdSlug: string
  headings: MarkdownHeading[]
}

const {
  title,
  description,
  image,
  mdTitle,
  mdDescription,
  mdSlug,
  headings
  } = Astro.props
---

<Layout title={title} description={description} image={image}>
  <Provider
    pathName={Astro.url.pathname}
    title={mdTitle}
    description={mdDescription}
    slug={mdSlug}
    client:only="react"
  />

  <Header client:only="react" transition:persist="header" />
  <main class="relative z-1 px-4 pt-16 min-h-main bg-primary">
    <HeadGradient client:idle />
    <div class="max-w-[1440px] mx-auto px-0 py-20 md:px-4 lg:grid lg:grid-cols-[200px_auto_200px] lg:gap-[20px]">
      <!-- 左侧展示部分 -->
      <div>
        <aside class="mx-auto mb-6 hidden lg:block lg:sticky lg:top-20 space-y-6">
          <div class="p-4 rounded-[24px] bg-secondary shadow-xl">
            <SectionBlock title="热门标签" style="mt-4 mb-4 font-bold uppercase tracking-widest text-accent">
              <TagList tags={hotTags} />
              <div class="text-right">
                <a class="text-sm text-secondary hover:text-accent" href="/tags">
                  更多标签 <i class="iconfont icon-arrow-right" />
                </a>
              </div>
            </SectionBlock>
          </div>
          <div class="p-4 rounded-[24px] bg-secondary shadow-xl">
            <SectionBlock title="文章分类" style="mt-4 mb-4 font-bold uppercase tracking-widest text-accent">
              <CategoryList categories={Categories} />
              <div class="mt-2 text-right">
                <a class="text-sm text-secondary hover:text-accent" href="/categories">
                  所有分类 <i class="iconfont icon-arrow-right" />
                </a>
              </div>
            </SectionBlock>
          </div>
        </aside>
      </div>
      <!-- 中间主体部分 -->
      <div class="px-6 pt-8 pb-4 rounded-[24px] bg-secondary shadow-xl">
        <slot />
      </div>
      <!-- 侧边目录栏 -->
      <div class="w-[200px] hidden lg:block">
        <div class="sticky top-20 p-4 mb-4 rounded-[24px] bg-secondary shadow-xl">
          <SectionBlock title="目录" style="mt-4 mb-4 text-xl font-bold uppercase tracking-widest text-accent">
            <!-- 文章结构 -->
            <PostToc headings={headings} client:idle />
            <!-- 分隔线 -->
            <hr class="my-2 border-primary max-w-[100px]" />
            <!-- 阅读进度 -->
            <ReadingProgress client:idle />
            <!-- 分享与赞助按钮 -->
            <ActionAside client:idle />
          </SectionBlock>
        </div>
      </div>
    </div>
  </main>
  <Footer />

  <BackToTopFAB client:only="react" />
  <SearchPanel client:only="react" />
  <ToastContainer client:only="react" />
  <ModalStack client:only="react" />
</Layout>
