---
import Layout from './Layout.astro'
import { HeadGradient } from '@/components/head-gradient'
import Footer from '@/components/footer/Footer.astro'
import { Header } from '@/components/header/Header'
import { SearchPanel } from '@/components/SearchPanel'
import { BackToTopFAB } from '@/components/BackToTopFAB'
import { Provider } from '@/components/provider/Provider'
import { ToastContainer } from '@/components/ToastContainer'
import { ModalStack } from '@/components/ui/modal'
import SectionBlock from '@/components/SectionBlock.astro'
import 'katex/dist/katex.min.css'
import type { MarkdownHeading } from 'astro'
import { ActionAside } from '@/components/post/ActionAside'
import { PostToc } from '@/components/post/PostToc'
import { ReadingProgress } from '@/components/post/ReadingProgress'
import Card from '@/components/cards/Card.astro'
import TagCard from '@/components/cards/TagCard.astro'
import CategoryCard from '@/components/cards/CategoryCard.astro'
import ContentsCard from '@/components/cards/ContentsCard.astro'


interface Props {
  title: string
  description?: string
  image?: string
  mdTitle: string
  mdDescription: string
  mdSlug: string
  headings: MarkdownHeading[]
}

const {
  title,
  description,
  image,
  mdTitle,
  mdDescription,
  mdSlug,
  headings
  } = Astro.props
---

<Layout title={title} description={description} image={image}>
  <Provider
    pathName={Astro.url.pathname}
    title={mdTitle}
    description={mdDescription}
    slug={mdSlug}
    client:only="react"
  />

  <Header client:only="react" transition:persist="header" />
  <main class="relative z-1 px-4 pt-16 min-h-main bg-primary">
    <HeadGradient client:idle />
    <div class="max-w-[1440px] mx-auto px-0 py-20 md:px-4 lg:grid lg:grid-cols-[200px_auto_200px] lg:gap-[20px]">
      <!-- 左侧展示部分 -->
      <div>
        <aside class="mx-auto mb-6 hidden lg:block lg:sticky lg:top-20 space-y-6">
          <TagCard />
          <CategoryCard />
        </aside>
      </div>
      <!-- 中间主体部分 -->
      <div>
        <Card>
          <slot />
          <aside class="mx-auto m-4 lg:hidden space-y-6">
            <TagCard rounded="xl" shadow="none" />
            <CategoryCard rounded="xl" shadow="none" />
          </aside>
        </Card>
      </div>
      <!-- 侧边目录栏 -->
      <div>
        <aside class="sticky top-20 hidden lg:block space-y-6">
          <ContentsCard headings={headings} />
        </aside>
      </div>
    </div>
  </main>
  <Footer />

  <BackToTopFAB client:only="react" />
  <SearchPanel client:only="react" />
  <ToastContainer client:only="react" />
  <ModalStack client:only="react" />
</Layout>
